# Project submission
**Due Friday May 16th before class.** Counts for 25% of the final course grade.

You should address all the questions relevant to your project.
You will not be graded based on the values of the model performance, but on whether or not you have applied the right methodology: formulated the business model, translated it into a right machine learning approach, analyzed your data, prepared it for modeling, applied at least 5 different machine learning algorithms, as well as neural networks, used cross validation for model tuning, justified your tuning metric, set up the proper machine learning pipeline without data leakage, evaluated your model using all the relevant metrics, interpreted your model and justified all your decisions.

If you have tried different approaches, please include them all, and not just the best one.
If doing some feature engineering has improved your model, also please include all of the steps, not just the most successful ones.

You should submit the notebook with the code, output and explanations. The notebook should be executable and comprehensible.

The points will be deducted for the following reasons:
- data leakage
- unjustified decisions (no discussion on: choice of metric for optimization, blind removal of features, blind removal of outliers...)
- notebook not comprehensible
- notebook with incomplete output
- notebook not executable
- blind copy pasting from ChatGPT, if the copied code is not suitable for the task
- writing your own code (or copy pasting them from outside source) for simple functions that we covered and that already exist in `sklearn` (train test split, plain grid search, encoding of categorical variables,...), as this leads to:
    - convoluted code prone to bugs
    - code that is hard to understand and review
    - waste of data scientist's time if ready-made simple functions exist

Additional points will be awarded for trying and testing different relevant approaches, from exploratory data analysis, to feature engineering, to modeling and evaluation.

There should be one submission per group, but team member evaluation can be submitted per person. If not submitted, the default is that all the team members have contributed equally to the project and should get the same grade.

### Group number:
### Student IDs:
### Project name:

## What business problem are you solving?
- Please state clearly what business problem are you solving. (one sentence)
- Elaborate why is this a relevant problem, and what can you do with the model output to create business value, i.e., how is the model output actionable. (2-3 paragraphs)

## What is the machine learning problem that you are solving?
- Please state clearly what is the ML problem. 
- If applicable state your target.

## Data exploration and preparation 

- How many data instances do you have?
- Do you have duplicates?
- How many features? What type are they?
- If they are categorical, what categories they have, what is their frequency?
- If they are numerical, what is their distribution?
- Do you have outliers, and do you need to do anything about them?
- What is the distribution of the target variable?
- If you have a target, you can also check the relationship between the target and the variables.
- Do you have missing data? If yes, how are you going to handle it?
- Can you use the features in their original form, or do you need to alter them in some way?
- What have you learned about your data? Is there anything that can help you in feature engineering or modeling?

## Feature engineering
Creating good features is probably the most important step in the machine learning process. 
This might involve doing:
- transformations
- aggregating over data points or over time and space, or finding differences (for example: differences between two monthly bills, time difference between two contacts with the client) 
- creating dummy (binary) variables
- discretization

Business insight is very relevant in this process. If it is possible you can also find additional relevant data.

## Modeling
You should implement AT LEAST FIVE approaches we covered, and tune of at least two hyperparameters of each approach.
Do not forget that you should split your data.
You should do model selection and tuning using cross validation on the train set, avoiding data leakage.
Explain and justify what is the metric you are using for model selection and tuning. If your data is imbalanced, consider using techniques for data balancing.

Separately, you should train a neural network. Visualize the training and validation loss. Discuss the network performance

In model selection, make sure when you compare different models and approaches that you compare them on the same dataset, though different transformations could be applied to the comparison dataset.

## Model evaluation

After selecting your final model, which could be a compromise of performance, interpretability and complexity, you should evaluate its performance on the test set. 
You might have tuned your model using a certain metric, but now you should describe the model performance using all relevant metrics. 
If you have some business insight, why a certain metric is relevant, you should explain it. 
Construct a suitable baseline to benchmark your result and to put them in the context.
Discuss your results, do they seem good enough to be used in practice? If not, what should be improved. Discuss what type of errors is your model making.

## Model interpretation

Use at least two different techniques for model interpretability. Discuss what are the most important features of your model, and how they impact the model performance. Pick a few examples of errors that your model is making, and check which features lead to thess errors.

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_colwidth', None)
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV

In [4]:
df = pd.read_csv('pr13_stocks (1).csv', index_col=0)
df = df.sample(frac=0.05, random_state=42)  # frac=0.1 means 5% of the data

df.head()

,Date,Dividends,Stock Splits,Brand_Name,Ticker,Industry_Tag,Country,Volume,Open,High,Low,Close
75721,2008-12-11 00:00:00-05:00,0.0,0.0,nintendo,NTDOY,gaming,japan,2476000.0,9.550000,9.550000,9.130000,9.172000
80184,2022-08-31 00:00:00-04:00,0.0,0.0,colgate palmolive,CL,consumer goods,usa,4054100.0,77.253671,77.565610,76.171632,76.239868
19864,2008-02-25 00:00:00-05:00,0.0,0.0,american express,AXP,finance,usa,8155900.0,35.124497,35.373717,34.189923,35.210167
76699,2020-08-27 00:00:00-04:00,0.0,0.0,colgate palmolive,CL,consumer goods,usa,2208900.0,73.579890,74.036335,73.430853,73.645096
92991,2014-03-21 00:00:00-04:00,0.0,0.0,the walt disney company,DIS,entertainment,usa,7840900.0,75.429113,75.511945,73.671312,73.947403

In [5]:
df['Date'] = pd.to_datetime(df['Date'], utc=True)

df

,Date,Dividends,Stock Splits,Brand_Name,Ticker,Industry_Tag,Country,Volume,Open,High,Low,Close
75721,2008-12-11 05:00:00+00:00,0.0,0.0,nintendo,NTDOY,gaming,japan,2476000.0,9.550000,9.550000,9.130000,9.172000
80184,2022-08-31 04:00:00+00:00,0.0,0.0,colgate palmolive,CL,consumer goods,usa,4054100.0,77.253671,77.565610,76.171632,76.239868
19864,2008-02-25 05:00:00+00:00,0.0,0.0,american express,AXP,finance,usa,8155900.0,35.124497,35.373717,34.189923,35.210167
76699,2020-08-27 04:00:00+00:00,0.0,0.0,colgate palmolive,CL,consumer goods,usa,2208900.0,73.579890,74.036335,73.430853,73.645096
92991,2014-03-21 04:00:00+00:00,0.0,0.0,the walt disney company,DIS,entertainment,usa,7840900.0,75.429113,75.511945,73.671312,73.947403
...,...,...,...,...,...,...,...,...,...,...,...,...
44719,2019-09-03 04:00:00+00:00,0.0,0.0,southwest airlines,LUV,aviation,usa,4298000.0,50.427139,50.767274,49.474767,49.931519
20980,2015-06-09 04:00:00+00:00,0.0,0.0,costco,COST,retail,usa,2039100.0,119.588688,120.317038,119.493307,119.692734
57224,2021-01-21 05:00:00+00:00,0.0,0.0,salesforce / slack,CRM,technology,usa,6785900.0,223.690002,224.740005,220.820007,222.169998
23910,2020-04-22 04:00:00+00:00,0.0,0.0,cisco,CSCO,technology,usa,18330700.0,37.348931,38.091022,37.204132,37.792374
41656,2020-06-17 04:00:00+00:00,0.0,0.0,crocs,CROX,footwear,usa,970400.0,32.790001,33.230000,32.169998,33.009998

In [6]:
df.isna().sum()

Date             2
Dividends        4
Stock Splits    33
Brand_Name      10
Ticker          16
Industry_Tag     0
Country          3
Volume          34
Open            39
High            35
Low             42
Close           10
dtype: int64

In [ ]:
#drop the 16 rows without any date data
df = df.dropna(subset=['Date'])

In [8]:
df

,Date,Dividends,Stock Splits,Brand_Name,Ticker,Industry_Tag,Country,Volume,Open,High,Low,Close
75721,2008-12-11 05:00:00+00:00,0.0,0.0,nintendo,NTDOY,gaming,japan,2476000.0,9.550000,9.550000,9.130000,9.172000
80184,2022-08-31 04:00:00+00:00,0.0,0.0,colgate palmolive,CL,consumer goods,usa,4054100.0,77.253671,77.565610,76.171632,76.239868
19864,2008-02-25 05:00:00+00:00,0.0,0.0,american express,AXP,finance,usa,8155900.0,35.124497,35.373717,34.189923,35.210167
76699,2020-08-27 04:00:00+00:00,0.0,0.0,colgate palmolive,CL,consumer goods,usa,2208900.0,73.579890,74.036335,73.430853,73.645096
92991,2014-03-21 04:00:00+00:00,0.0,0.0,the walt disney company,DIS,entertainment,usa,7840900.0,75.429113,75.511945,73.671312,73.947403
...,...,...,...,...,...,...,...,...,...,...,...,...
44719,2019-09-03 04:00:00+00:00,0.0,0.0,southwest airlines,LUV,aviation,usa,4298000.0,50.427139,50.767274,49.474767,49.931519
20980,2015-06-09 04:00:00+00:00,0.0,0.0,costco,COST,retail,usa,2039100.0,119.588688,120.317038,119.493307,119.692734
57224,2021-01-21 05:00:00+00:00,0.0,0.0,salesforce / slack,CRM,technology,usa,6785900.0,223.690002,224.740005,220.820007,222.169998
23910,2020-04-22 04:00:00+00:00,0.0,0.0,cisco,CSCO,technology,usa,18330700.0,37.348931,38.091022,37.204132,37.792374
41656,2020-06-17 04:00:00+00:00,0.0,0.0,crocs,CROX,footwear,usa,970400.0,32.790001,33.230000,32.169998,33.009998

In [9]:
df[df['Brand_Name'].isna() & df['Ticker'].isna()]

Empty DataFrame
Columns: [Date, Dividends, Stock Splits, Brand_Name, Ticker, Industry_Tag, Country, Volume, Open, High, Low, Close]
Index: []

In [10]:
#drop the row without both Brand_name and Ticker as we cannot say which company this entry refers to
df = df[~(df['Brand_Name'].isna() & df['Ticker'].isna())].copy()

In [11]:
df

,Date,Dividends,Stock Splits,Brand_Name,Ticker,Industry_Tag,Country,Volume,Open,High,Low,Close
75721,2008-12-11 05:00:00+00:00,0.0,0.0,nintendo,NTDOY,gaming,japan,2476000.0,9.550000,9.550000,9.130000,9.172000
80184,2022-08-31 04:00:00+00:00,0.0,0.0,colgate palmolive,CL,consumer goods,usa,4054100.0,77.253671,77.565610,76.171632,76.239868
19864,2008-02-25 05:00:00+00:00,0.0,0.0,american express,AXP,finance,usa,8155900.0,35.124497,35.373717,34.189923,35.210167
76699,2020-08-27 04:00:00+00:00,0.0,0.0,colgate palmolive,CL,consumer goods,usa,2208900.0,73.579890,74.036335,73.430853,73.645096
92991,2014-03-21 04:00:00+00:00,0.0,0.0,the walt disney company,DIS,entertainment,usa,7840900.0,75.429113,75.511945,73.671312,73.947403
...,...,...,...,...,...,...,...,...,...,...,...,...
44719,2019-09-03 04:00:00+00:00,0.0,0.0,southwest airlines,LUV,aviation,usa,4298000.0,50.427139,50.767274,49.474767,49.931519
20980,2015-06-09 04:00:00+00:00,0.0,0.0,costco,COST,retail,usa,2039100.0,119.588688,120.317038,119.493307,119.692734
57224,2021-01-21 05:00:00+00:00,0.0,0.0,salesforce / slack,CRM,technology,usa,6785900.0,223.690002,224.740005,220.820007,222.169998
23910,2020-04-22 04:00:00+00:00,0.0,0.0,cisco,CSCO,technology,usa,18330700.0,37.348931,38.091022,37.204132,37.792374
41656,2020-06-17 04:00:00+00:00,0.0,0.0,crocs,CROX,footwear,usa,970400.0,32.790001,33.230000,32.169998,33.009998

In [12]:
df['Brand_Name'] = df['Brand_Name'].str.lower()
df['Ticker'] = df['Ticker'].str.upper()

brand_to_ticker = df.dropna(subset=['Brand_Name', 'Ticker'])\
                        .drop_duplicates(subset=['Brand_Name'])\
                        .set_index('Brand_Name')['Ticker'].to_dict()

ticker_to_brand = df.dropna(subset=['Brand_Name', 'Ticker'])\
                        .drop_duplicates(subset=['Ticker'])\
                        .set_index('Ticker')['Brand_Name'].to_dict()

    # Fill missing Ticker using Brand_Name
df.loc[df['Ticker'].isna() & df['Brand_Name'].notna(), 'Ticker'] = (
        df.loc[df['Ticker'].isna() & df['Brand_Name'].notna(), 'Brand_Name']
        .map(brand_to_ticker)
    )

    # Fill missing Brand_Name using Ticker
df.loc[df['Brand_Name'].isna() & df['Ticker'].notna(), 'Brand_Name'] = (
    df.loc[df['Brand_Name'].isna() & df['Ticker'].notna(), 'Ticker']
    .map(ticker_to_brand))

In [13]:
df.isna().sum()

Date             0
Dividends        4
Stock Splits    33
Brand_Name       0
Ticker           0
Industry_Tag     0
Country          3
Volume          34
Open            39
High            35
Low             42
Close           10
dtype: int64

In [14]:
#As dividend payments and stock splits are sparse, event-based features, missing values here are likely because 
#no such event has occured. Therefore, missing values are filled with 0. Also, the occurence of missing values 
#is relatively low here(59 and 458, respectively) compared to the overall dataset size(~100,000)
df['Dividends'] = df['Dividends'].fillna(0.0)
df['Stock Splits'] = df['Stock Splits'].fillna(0.0)

In [15]:
df.isna().sum()

Date             0
Dividends        0
Stock Splits     0
Brand_Name       0
Ticker           0
Industry_Tag     0
Country          3
Volume          34
Open            39
High            35
Low             42
Close           10
dtype: int64

In [16]:
df['Industry_Tag'].value_counts()

Industry_Tag
technology            1048
retail                 429
automotive             401
finance                359
apparel                355
consumer goods         346
food & beverage        315
entertainment          212
aviation               196
gaming                 184
footwear               180
food                   168
hospitality            158
e-commerce             140
healthcare             116
manufacturing          111
logistics               97
luxury goods            72
financial services      35
music                   28
social media            19
fitness                 17
cryptocurrency          12
Name: count, dtype: int64

In [17]:
#Imputing industry tag values with the most frequent value for each brand

df['Industry_Tag'] = df['Industry_Tag'].str.strip().str.lower()
industry_map = (
        df.dropna(subset=['Industry_Tag'])
          .groupby('Brand_Name')['Industry_Tag']
          .agg(lambda x: x.mode()[0]) 
          .to_dict()
    )

df['Industry_Tag'] = df.apply(
        lambda row: industry_map[row['Brand_Name']]
        if pd.isna(row['Industry_Tag']) or row['Industry_Tag'] != industry_map.get(row['Brand_Name'])
        else row['Industry_Tag'],
        axis=1
    )

In [18]:
df['Industry_Tag'].value_counts()

Industry_Tag
technology            1048
retail                 429
automotive             401
finance                359
apparel                355
consumer goods         346
food & beverage        315
entertainment          212
aviation               196
gaming                 184
footwear               180
food                   168
hospitality            158
e-commerce             140
healthcare             116
manufacturing          111
logistics               97
luxury goods            72
financial services      35
music                   28
social media            19
fitness                 17
cryptocurrency          12
Name: count, dtype: int64

In [19]:
#same for country

df['Country'] = df['Country'].str.strip()

country_map = (
        df.dropna(subset=['Country'])
          .groupby('Brand_Name')['Country']
          .agg(lambda x: x.mode()[0]) 
          .to_dict()
    )

df['Country'] = df.apply(
        lambda row: country_map[row['Brand_Name']]
        if pd.isna(row['Country']) or row['Country'] != country_map.get(row['Brand_Name'])
        else row['Country'],
        axis=1
    )

In [20]:
print(df['Country'].value_counts())
print(df.isna().sum())
print(f"Number of duplicates: {df.duplicated().sum()}")

Country
usa            3938
japan           302
germany         273
netherlands     202
france          148
switzerland     105
canada           30
Name: count, dtype: int64
Date             0
Dividends        0
Stock Splits     0
Brand_Name       0
Ticker           0
Industry_Tag     0
Country          0
Volume          34
Open            39
High            35
Low             42
Close           10
dtype: int64
Number of duplicates: 0

In [21]:
print(df.shape)
df = df.drop(columns=['Open', 'High', 'Low','Brand_Name'])
df = df.dropna(subset=['Close'])
print(df.shape)

(4998, 12)
(4988, 8)

Delete Open, High and Low since this data is same day date and not lagged --> otherwise data leakage
Delete Brand_Name because it contains the same info as Ticker
Delete 194 with no Data since it is only 194/100k values and is spread between dates/companies/strategies

In [22]:
df['Date'] = pd.to_datetime(df['Date']) ### was machen wir mit den Stunden???

# Time-based features
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['DayOfWeek'] = df['Date'].dt.dayofweek  # 0 = Monday, 6 = Sunday

# Running day number
df['Day_Number'] = (df['Date'] - df['Date'].min()).dt.days
df = df.sort_values(by='Date').reset_index(drop=True)
df

,Date,Dividends,Stock Splits,Ticker,Industry_Tag,Country,Volume,Close,Year,Month,Day,DayOfWeek,Day_Number
0,2000-01-04 05:00:00+00:00,0.0,0.0,PHG,technology,netherlands,1646000.0,17.986570,2000,1,4,1,0
1,2000-01-10 05:00:00+00:00,0.0,0.0,UL,consumer goods,netherlands,190440.0,7.969457,2000,1,10,0,6
2,2000-01-11 05:00:00+00:00,0.0,0.0,AAPL,technology,usa,441548800.0,0.702910,2000,1,11,1,7
3,2000-01-13 05:00:00+00:00,0.0,0.0,CL,consumer goods,usa,2643000.0,19.505140,2000,1,13,3,9
4,2000-01-18 05:00:00+00:00,0.0,0.0,PG,consumer goods,usa,4456800.0,31.210438,2000,1,18,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4983,2023-09-14 04:00:00+00:00,0.0,0.0,V,finance,usa,12000000.0,241.500000,2023,9,14,3,8653
4984,2023-09-15 04:00:00+00:00,0.0,0.0,UBER,technology,usa,16125700.0,47.520000,2023,9,15,4,8654
4985,2023-09-15 04:00:00+00:00,0.0,0.0,TSLA,automotive,usa,133422800.0,274.390015,2023,9,15,4,8654
4986,2023-09-15 04:00:00+00:00,0.0,0.0,LVMUY,luxury goods,france,486695.0,160.880005,2023,9,15,4,8654
4987,2023-09-18 04:00:00+00:00,0.0,0.0,HD,retail,usa,2740400.0,317.260010,2023,9,18,0,8657

In [23]:
def add_lags(df, lags):
    for lag in lags:
        df[f'Close_Lag_{lag}'] = df.groupby('Ticker')['Close'].shift(lag)
        df[f'Volume_Lag_{lag}'] = df.groupby('Ticker')['Volume'].shift(lag)
        df[f'Days_Since_Lag_{lag}'] = df.groupby('Ticker')['Date'].diff(lag).dt.days
    return df

In [24]:
def add_weighted_mean_std(df, lookback_periods):
    df = df.sort_values(['Ticker', 'Date']).copy()

    for lookback in lookback_periods:
        weighted_means = []
        weighted_stds = []

        for ticker, group in df.groupby('Ticker'):
            group = group.sort_values('Date')
            closes = group['Close'].reset_index(drop=True)
            dates = group['Date'].reset_index(drop=True)

            n = len(group)
            mean_vals = np.full(n, np.nan)
            std_vals = np.full(n, np.nan)

            for idx in range(n):
                if idx < lookback:
                    continue  # can't calculate for first points

                close_lags = closes.iloc[idx-lookback:idx]
                date_lags = dates.iloc[idx-lookback:idx]
                current_date = dates.iloc[idx]

                days_diff = (current_date - date_lags).dt.days

                if days_diff.sum() == 0:
                    continue  # avoid division by zero
                
                weight = 1/days_diff

                if weight.sum() == 0:
                    continue  # avoid division by zero

                if pd.isna(close_lags).any():
                    continue  # Skip iteration or handle NaNs in the appropriate way

                weighted_mean = (weight * close_lags).sum() / weight.sum()
                mean_vals[idx] = weighted_mean

                weighted_var = (weight * (close_lags - weighted_mean)**2).sum() / weight.sum()
                weighted_std = np.sqrt(weighted_var)
                std_vals[idx] = weighted_std

            weighted_means.append(pd.Series(mean_vals, index=group.index))
            weighted_stds.append(pd.Series(std_vals, index=group.index))

        df[f'Weighted_Mean_{lookback}'] = pd.concat(weighted_means)
        df[f'Weighted_Std_{lookback}'] = pd.concat(weighted_stds)

    return df

In [25]:
def add_simple_mean_std(df, lookback_periods):
    df = df.sort_values(['Ticker', 'Date']).copy()

    for lookback in lookback_periods:
        means = []
        stds = []

        for ticker, group in df.groupby('Ticker'):
            group = group.sort_values('Date')
            closes = group['Close_Lag_1'].reset_index(drop=True)

            mean_vals = closes.rolling(window=lookback, min_periods=lookback).mean()
            std_vals = closes.rolling(window=lookback, min_periods=lookback).std()

            means.append(pd.Series(mean_vals.values, index=group.index))
            stds.append(pd.Series(std_vals.values, index=group.index))

        df[f'Simple_Mean_{lookback}'] = pd.concat(means)
        df[f'Simple_Std_{lookback}'] = pd.concat(stds)

    return df

In [26]:
def add_returns(df):
    df['return_since_last_entry'] = df['Close']/df['Close_Lag_1'] -1

    return df

In [27]:
df = add_lags(df, [1,2,3,4,5,10,20,30,40,50,60,70,80,90,100])

df = add_weighted_mean_std(df,[1,2,3,4,5,10,20,30,40,50,60,70,80,90,100])

df = add_simple_mean_std(df,[1,2,3,4,5,10,20,30,40,50,60,70,80,90,100])

df

,Date,Dividends,Stock Splits,Ticker,Industry_Tag,Country,Volume,Close,Year,Month,...,Simple_Mean_60,Simple_Std_60,Simple_Mean_70,Simple_Std_70,Simple_Mean_80,Simple_Std_80,Simple_Mean_90,Simple_Std_90,Simple_Mean_100,Simple_Std_100
2,2000-01-11 05:00:00+00:00,0.0,0.0,AAPL,technology,usa,441548800.0,0.702910,2000,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2000-01-21 05:00:00+00:00,0.0,0.0,AAPL,technology,usa,495924800.0,0.843586,2000,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2000-02-08 05:00:00+00:00,0.0,0.0,AAPL,technology,usa,408643200.0,0.870585,2000,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2000-02-15 05:00:00+00:00,0.0,0.0,AAPL,technology,usa,485744000.0,0.901846,2000,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2000-02-24 05:00:00+00:00,0.0,0.0,AAPL,technology,usa,376432000.0,0.873071,2000,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4395,2021-08-19 04:00:00+00:00,0.0,0.0,ZM,technology,usa,2476000.0,332.380005,2021,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4539,2022-02-28 05:00:00+00:00,0.0,0.0,ZM,technology,usa,12033100.0,132.600006,2022,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4560,2022-03-25 04:00:00+00:00,0.0,0.0,ZM,technology,usa,4209400.0,113.930000,2022,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4575,2022-04-08 04:00:00+00:00,0.0,0.0,ZM,technology,usa,3953300.0,110.900002,2022,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4833,2023-02-07 05:00:00+00:00,0.0,0.0,ZM,technology,usa,14656800.0,84.660004,2023,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df = add_returns(df)

In [29]:
pd.set_option('display.max_columns', None)
df[df['Ticker'] == 'FL'][:20]

,Date,Dividends,Stock Splits,Ticker,Industry_Tag,Country,Volume,Close,Year,Month,Day,DayOfWeek,Day_Number,Close_Lag_1,Volume_Lag_1,Days_Since_Lag_1,Close_Lag_2,Volume_Lag_2,Days_Since_Lag_2,Close_Lag_3,Volume_Lag_3,Days_Since_Lag_3,Close_Lag_4,Volume_Lag_4,Days_Since_Lag_4,Close_Lag_5,Volume_Lag_5,Days_Since_Lag_5,Close_Lag_10,Volume_Lag_10,Days_Since_Lag_10,Close_Lag_20,Volume_Lag_20,Days_Since_Lag_20,Close_Lag_30,Volume_Lag_30,Days_Since_Lag_30,Close_Lag_40,Volume_Lag_40,Days_Since_Lag_40,Close_Lag_50,Volume_Lag_50,Days_Since_Lag_50,Close_Lag_60,Volume_Lag_60,Days_Since_Lag_60,Close_Lag_70,Volume_Lag_70,Days_Since_Lag_70,Close_Lag_80,Volume_Lag_80,Days_Since_Lag_80,Close_Lag_90,Volume_Lag_90,Days_Since_Lag_90,Close_Lag_100,Volume_Lag_100,Days_Since_Lag_100,Weighted_Mean_1,Weighted_Std_1,Weighted_Mean_2,Weighted_Std_2,Weighted_Mean_3,Weighted_Std_3,Weighted_Mean_4,Weighted_Std_4,Weighted_Mean_5,Weighted_Std_5,Weighted_Mean_10,Weighted_Std_10,Weighted_Mean_20,Weighted_Std_20,Weighted_Mean_30,Weighted_Std_30,Weighted_Mean_40,Weighted_Std_40,Weighted_Mean_50,Weighted_Std_50,Weighted_Mean_60,Weighted_Std_60,Weighted_Mean_70,Weighted_Std_70,Weighted_Mean_80,Weighted_Std_80,Weighted_Mean_90,Weighted_Std_90,Weighted_Mean_100,Weighted_Std_100,Simple_Mean_1,Simple_Std_1,Simple_Mean_2,Simple_Std_2,Simple_Mean_3,Simple_Std_3,Simple_Mean_4,Simple_Std_4,Simple_Mean_5,Simple_Std_5,Simple_Mean_10,Simple_Std_10,Simple_Mean_20,Simple_Std_20,Simple_Mean_30,Simple_Std_30,Simple_Mean_40,Simple_Std_40,Simple_Mean_50,Simple_Std_50,Simple_Mean_60,Simple_Std_60,Simple_Mean_70,Simple_Std_70,Simple_Mean_80,Simple_Std_80,Simple_Mean_90,Simple_Std_90,Simple_Mean_100,Simple_Std_100,return_since_last_entry
13,2000-01-28 05:00:00+00:00,0.0,0.0,FL,footwear,usa,2029500.0,3.356755,2000,1,28,4,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2000-02-02 05:00:00+00:00,0.0,0.0,FL,footwear,usa,879500.0,3.639429,2000,2,2,2,29,3.356755,2029500.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.356755,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.356755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.084210
48,2000-04-18 04:00:00+00:00,0.0,0.0,FL,footwear,usa,390400.0,6.077493,2000,4,18,1,104,3.639429,879500.0,75.0,3.356755,2029500.0,80.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.639429,0.000000e+00,3.502651,0.141263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.639429,NaN,3.498092,0.199881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.669903
52,2000-05-08 04:00:00+00:00,0.0,0.0,FL,footwear,usa,312000.0,6.890182,2000,5,8,0,124,6.077493,390400.0,20.0,3.639429,879500.0,95.0,3.356755,2029500.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.077493,0.000000e+00,5.653482,0.924111,5.327826,1.172512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.077493,NaN,4.858461,1.723972,4.357892,1.495910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.133721
57,2000-05-12 04:00:00+00:00,0.0,0.0,FL,footwear,usa,432900.0,6.784177,2000,5,12,4,128,6.890182,312000.0,4.0,6.077493,390400.0,24.0,3.639429,879500.0,99.0,3.356755,2029500.0,104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.890182,0.000000e+00,6.774084,0.284382,6.669158,0.629335,6.566872,0.843908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.890182,NaN,6.483837,0.574658,5.535701,1.691746,4.990965,1.759248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.015385
145,2000-11-28 05:00:00+00:00,0.0,0.0,FL,footwear,usa,321300.0,7.420197,2000,11,28,1,329,6.784177,432900.0,200.0,6.890182,312000.0,204.0,6.077493,390400.0,224.0,3.639429,879500.0,300.0,3.356755,2029500.0,305.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.784177,0.000000e+00,6.836655,0.053000,6.600746,0.354085,6.043046,1.200942,5.623206,1.472548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.784177,NaN,6.837179,0.074957,6.583951,0.441796,5.847820,1.515808,5.349607,1.721725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.093750
160,2001-01-09 05:00:00+00:00,0.0,0.0,FL,footwear,usa,1219900.0,8.692228,2001,1,9,1,371,7.420197,321300.0,42.0,6.784177,432900.0,242.0,6.890182,312000.0,246.0,6.077493,390400.0,266.0,3.639429,879500.0,342.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.420197,0.000000e+00,7.326137,0.225780,7.270769,0.256076,7.145343,0.438883,6.880386,1.018221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.420197,NaN,7.102187,0.449734,7.031518,0.340752,6.793012,0.552222,6.162295,1.489204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.171428
162,2001-01-16 05:00:00+00:00,0.0,0.0,FL,footwear,usa,1496900.0,7.314192,2001,1,16,1,378,8.692228,1219900.0,7.0,7.420197,321300.0,49.0,6.784177,432900.0,249.0,6.890182,312000.0,253.0,6.077493,390400.0,273.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.692228,0.000000e+00,8.533224,0.420685,8.491233,0.494376,8.454277,0.544583,8.404498,0.637334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.692228,NaN,8.056212,0.899462,7.632201,0.971532,7.446696,0.875727,7.172855,0.974739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.158537
183,2001-03-07 05:00:00+00:00,0.0,0.0,FL,footwear,usa,1330400.0,6.897249,2001,3,7,2,428,7.314192,1496900.0,50.0,8.692228,1219900.0,57.0,7.420197,321300.0,99.0,6.784177,432900.0,299.0,6.890182,312000.0,303.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.314192,0.000000e+00,7.958134,0.687542,7.844088,0.648721,7.774567,0.679771,7.720804,0.691848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.314192,NaN,8.003210,0.974419,7.808872,0.766843,7.552698,0.809031,7.420195,0.760713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.057005
307,2001-11-27 05:00:00+00:00,0.0,0.0,FL,footwear,usa,1113300.0,8.983380,2001,11,27,1,693,6.897249,1330400.0,265.0,7.314192,1496900.0,315.0,8.692228,1219900.0,322.0,7.420197,321300.0,364.0,6.784177,432900.0,564.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.897249,0.000000e+00,7.087749,0.207696,7.583369,0.761174,7.548350,0.677887,7.455383,0.682660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.897249,NaN,7.105721,0.294824,7.634556,0.939395,7.580966,0.774465,7.421609,0.759488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.302459
352,2002-03-04 05:00:00+00:00,0.0,0.0,FL,footwear,usa,567700.0,9.690067,2002,3,4,0,790,8.983380,1113300.0,97.0,6.897249,1330400.0,362.0,7.314192,1496900.0,412.0,8.692228,1219900.0,419.0,7.420197,321300.0,461.0,3.356755,2029500.0,766.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.983380,0.000000e+00,8.542520,0.851666,8.350160,0.900569,8.395805,0.846364,8.290279,0.854790,7.547522,1.644218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.983380,NaN,7.940315,1.475118,7.731607,1.103931,7.971762,1.021342,7.861449,0.918259,6.605528,1.856027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.078666
417,2002-08-19 04:00:00+00:00,0.0,0.0,FL,footwear,usa,2138000.0,6.111414,2002,8,19,0,957,9.690067,567700.0,167.0,8.983380,1113300.0,264.0,6.897249,1330400.0,529.0,7.314192,1496900.0,579.0,8.692228,1219900.0,586.0,3.639429,879500.0,928.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.690067,0.000000e+00,9.416247,0.344279,9.008077,0.980254,8.789646,1.076695,8.778636,1.014500,8.050701,1.579485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.690067,NaN,9.336724,0.499703,8.523565,1.452078,8.221222,1.330914,8.315423,1.171695,7.238859,1.698113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.369312
451,2002-11-22 05:00:00+00:00,0.0,0.0,FL,footwear,usa,2373800.0,7.191231,2002,11,22,4,1053,6.111414,2138000.0,95.0,9.690067,567700.0,263.0,8.983380,1113300.0,360.0,6.897249,1330400.0,625.0,7.314192,1496900.0,675.0,6.077493,390400.0,948.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.111414,8.881784e-16,7.061057,1.580070,7.373209,1.610538,7.332499,1.545863,7.331155,1.488069,7.320836,1.374857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.111414,NaN,7.900741,2.530490,8.261621,1.895361,7.920528,1.691244,7.799261,1.489550,7.486058,1.231821,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.176689
643,2004-03-12 05:00:00+00:00,0.0,0.0,FL,footwear,usa,1831300.0,13.814206,2004,3,12,4,1529,7.191231,2373800.0,476.0,6.111414,2138000.0,571.0,9.690067,567700.0,739.0,8.983380,1113300.0,836.0,6.897249,1330400.0,1101.0,6.890182,312000.0,1404.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.191231,0.000000e+00,6.700311,0.537682,7.477529,1.390529,7.758909,1.384489,7.651845,1.326435,7.585465,1.145905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.191231,NaN,6.651323,0.763546,7.664237,1.835617,7.994023,1.637486,7.774668,1.500535,7.597432,1.137018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.920979
672,2004-05-10 04:00:00+00:00,0.0,0.0,FL,footwear,usa,1621400.0,12.538507,2004,5,10,0,1587,13.814206,1831300.0,58.0,7.191231,2373800.0,534.0,6.111414,2138000.0,630.0,9.690067,567700.0,797.0,8.983380,1113300.0,894.0,6.784177,432900.0,1459.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.814206,0.000000e+00,13.165334,1.968865,12.624465,2.664940,12.456776,2.675819,12.288399,2.714665,11.572935,3.051089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.814206,NaN,10.502719,4.683150,9.038950,4.170588,9.201730,3.420798,9.158060,2.964106,8.289834,2.235798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.092347
673,2004-05-14 04:00:00+00:00,0.0,0.0,FL,footwear,usa,1410900.0,12.429570,2004,5,14,4,1591,12.538507,1621400.0,4.0,13.814206,1831300.0,62.0,7.191231,2373800.0,538.0,6.111414,2138000.0,634.0,9.690067,567700.0,801.0,7.420197,321300.0,1262.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.538507,0.000000e+00,12.615822,0.304390,12.578197,0.542855,12.540359,0.732277,12.527219,0.755670,12.453551,0.952153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.538507,NaN,13.176356,0.902056,11.181315,3.513890,9.913839,3.828523,9.869085,3.317108,8.865267,2.526793,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.008688
693,2004-07-13 04:00:00+00:00,0.0,0.0,FL,footwear,usa,357000.0,12.962760,2004,7,13,1,1651,12.429570,1410900.0,60.0,12.538507,1621400.0,64.0,13.814206,1831300.0,122.0,7.191231,2373800.0,598.0,6.111414,2138000.0,694.0,8.692228,1219900.0,1280.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.429570,0.000000e+00,12.482281,0.054440,12.751924,0.537402,12.531368,1.206296,12.319204,1.650493,11.951208,1.963992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.429570,NaN,12.484038,0.077030,12.927428,0.769902,11.493379,2.936180,10.416986,3.501282,9.366205,2.699152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.042897
706,2004-08-05 04:00:00+00:00,0.0,0.0,FL,footwear,usa,2768200.0,12.071750,2004,8,5,3,1674,12.962760,357000.0,23.0,12.429570,1410900.0,83.0,12.538507,1621400.0,87.0,13.814206,1831300.0,145.0,7.191231,2373800.0,621.0,7.314192,1496900.0,1296.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.962760,1.776357e-15,12.847068,0.219775,12.794149,0.231400,12.889321,0.369558,12.767833,0.900639,12.451111,1.538517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.962760,NaN,12.696165,0.377022,12.643612,0.281706,12.936261,0.628870,11.787255,2.626344,9.793258,2.910250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.068736
757,2004-12-03 05:00:00+00:00,0.0,0.0,FL,footwear,usa,1172600.0,15.588995,2004,12,3,4,1795,12.071750,2768200.0,120.0,12.962760,357000.0,143.0,12.429570,1410900.0,203.0,12.538507,1621400.0,207.0,13.814206,1831300.0,266.0,6.897249,1330400.0,1367.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.071750,0.000000e+00,12.478294,0.443798,12.466443,0.386636,12.480322,0.348575,12.654182,0.554391,11.899574,1.925078,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.071750,NaN,12.517255,0.630039,12.488027,0.448372,12.500647,0.366963,12.763358,0.667895,10.269013,2.848164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.291362
883,2005-07-25 04:00:00+00:00,0.0,0.0,FL,footwear,usa,742700.0,15.302585,2005,7,25,0,2028,15.588995,1172600.0,233.0,12.071750,2768200.0,354.0,12.962760,357000.0,377.0,12.429570,1410900.0,437.0,12.538507,1621400.0,441.0,8.983380,1113300.0,1335.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.588995,0.000000e+00,14.192882,1.720854,13.858882,1.567351,13.587622,1.518058,13.421554,1.444423,12.475873,2.541230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.588995,NaN,13.830372,2.487068,13.541168,1.828571,13.263269,1.593118,13.118316,1.417242,11.138188,3.025578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.018373

In [30]:
def add_cat_signals(df, cols):
    for col in cols:
        new_col = f"{col}_signal"
        df[new_col] = (df[col] != 0).astype(int)
    return df

In [31]:
df = add_cat_signals(df, ['Dividends','Stock Splits'])
df

,Date,Dividends,Stock Splits,Ticker,Industry_Tag,Country,Volume,Close,Year,Month,Day,DayOfWeek,Day_Number,Close_Lag_1,Volume_Lag_1,Days_Since_Lag_1,Close_Lag_2,Volume_Lag_2,Days_Since_Lag_2,Close_Lag_3,Volume_Lag_3,Days_Since_Lag_3,Close_Lag_4,Volume_Lag_4,Days_Since_Lag_4,Close_Lag_5,Volume_Lag_5,Days_Since_Lag_5,Close_Lag_10,Volume_Lag_10,Days_Since_Lag_10,Close_Lag_20,Volume_Lag_20,Days_Since_Lag_20,Close_Lag_30,Volume_Lag_30,Days_Since_Lag_30,Close_Lag_40,Volume_Lag_40,Days_Since_Lag_40,Close_Lag_50,Volume_Lag_50,Days_Since_Lag_50,Close_Lag_60,Volume_Lag_60,Days_Since_Lag_60,Close_Lag_70,Volume_Lag_70,Days_Since_Lag_70,Close_Lag_80,Volume_Lag_80,Days_Since_Lag_80,Close_Lag_90,Volume_Lag_90,Days_Since_Lag_90,Close_Lag_100,Volume_Lag_100,Days_Since_Lag_100,Weighted_Mean_1,Weighted_Std_1,Weighted_Mean_2,Weighted_Std_2,Weighted_Mean_3,Weighted_Std_3,Weighted_Mean_4,Weighted_Std_4,Weighted_Mean_5,Weighted_Std_5,Weighted_Mean_10,Weighted_Std_10,Weighted_Mean_20,Weighted_Std_20,Weighted_Mean_30,Weighted_Std_30,Weighted_Mean_40,Weighted_Std_40,Weighted_Mean_50,Weighted_Std_50,Weighted_Mean_60,Weighted_Std_60,Weighted_Mean_70,Weighted_Std_70,Weighted_Mean_80,Weighted_Std_80,Weighted_Mean_90,Weighted_Std_90,Weighted_Mean_100,Weighted_Std_100,Simple_Mean_1,Simple_Std_1,Simple_Mean_2,Simple_Std_2,Simple_Mean_3,Simple_Std_3,Simple_Mean_4,Simple_Std_4,Simple_Mean_5,Simple_Std_5,Simple_Mean_10,Simple_Std_10,Simple_Mean_20,Simple_Std_20,Simple_Mean_30,Simple_Std_30,Simple_Mean_40,Simple_Std_40,Simple_Mean_50,Simple_Std_50,Simple_Mean_60,Simple_Std_60,Simple_Mean_70,Simple_Std_70,Simple_Mean_80,Simple_Std_80,Simple_Mean_90,Simple_Std_90,Simple_Mean_100,Simple_Std_100,return_since_last_entry,Dividends_signal,Stock Splits_signal
2,2000-01-11 05:00:00+00:00,0.0,0.0,AAPL,technology,usa,441548800.0,0.702910,2000,1,11,1,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
8,2000-01-21 05:00:00+00:00,0.0,0.0,AAPL,technology,usa,495924800.0,0.843586,2000,1,21,4,17,0.702910,441548800.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.702910,1.110223e-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.702910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.200135,0,0
19,2000-02-08 05:00:00+00:00,0.0,0.0,AAPL,technology,usa,408643200.0,0.870585,2000,2,8,1,35,0.843586,495924800.0,18.0,0.702910,441548800.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.843586,0.000000e+00,0.788539,0.068656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.843586,NaN,0.773248,0.099474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.032005,0,0
22,2000-02-15 05:00:00+00:00,0.0,0.0,AAPL,technology,usa,485744000.0,0.901846,2000,2,15,1,42,0.870585,408643200.0,7.0,0.843586,495924800.0,25.0,0.702910,441548800.0,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.870585,0.000000e+00,0.864679,0.011161,0.842818,0.056269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.870585,NaN,0.857086,0.019091,0.805694,0.090031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.035908,0,0
25,2000-02-24 05:00:00+00:00,0.0,0.0,AAPL,technology,usa,376432000.0,0.873071,2000,2,24,3,51,0.901846,485744000.0,9.0,0.870585,408643200.0,16.0,0.843586,495924800.0,34.0,0.702910,441548800.0,44.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.901846,0.000000e+00,0.890592,0.015005,0.883783,0.021593,0.865573,0.058149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.901846,NaN,0.886216,0.022105,0.872006,0.029156,0.829732,0.087836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.031907,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4395,2021-08-19 04:00:00+00:00,0.0,0.0,ZM,technology,usa,2476000.0,332.380005,2021,8,19,3,7897,327.720001,6607100.0,79.0,329.950012,2476500.0,125.0,337.429993,8255500.0,166.0,401.630005,6972100.0,274.0,483.700012,8048500.0,287.0,93.379997,1747700.0,762.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,327.720001,0.000000e+00,328.583584,1.086289,330.580847,3.820099,339.129701,23.391093,354.025760,49.217910,330.755015,98.576604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,327.720001,NaN,328.835007,1.576856,331.700002,5.086043,349.182503,35.210745,376.086005,67.445085,295.651002,148.784025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.014219,0,0
4539,2022-02-28 05:00:00+00:00,0.0,0.0,ZM,technology,usa,12033100.0,132.600006,2022,2,28,0,8091,332.380005,2476000.0,193.0,327.720001,6607100.0,272.0,329.950012,2476500.0,318.0,337.429993,8255500.0,360.0,401.630005,6972100.0,468.0,67.279999,1127900.0,787.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,332.380005,0.000000e+00,330.445853,2.296130,330.315942,1.984547,331.652946,3.304872,340.491606,23.450462,334.287851,97.719609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,332.380005,NaN,330.050003,3.295120,330.016673,2.330717,331.870003,4.166632,345.822003,31.405608,319.551003,130.789711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.601059,0,0
4560,2022-03-25 04:00:00+00:00,0.0,0.0,ZM,technology,usa,4209400.0,113.930000,2022,3,25,4,8115,132.600006,12033100.0,24.0,332.380005,2476000.0,218.0,327.720001,6607100.0,297.0,329.950012,2476500.0,343.0,337.429993,8255500.0,384.0,146.479996,22033300.0,695.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,132.600006,0.000000e+00,152.412899,59.713222,164.308299,72.578023,173.500432,80.083431,181.242479,85.555115,208.354898,113.275633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,132.600006,NaN,232.490005,141.265792,264.233337,114.021618,280.662506,98.726676,292.016003,89.189276,326.083003,117.774210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.140799,0,0
4575,2022-04-08 04:00:00+00:00,0.0,0.0,ZM,technology,usa,3953300.0,110.900002,2022,4,8,4,8129,113.930000,4209400.0,14.0,132.600006,12033100.0,38.0,332.380005,2476000.0,232.0,327.720001,6607100.0,311.0,329.950012,2476500.0,357.0,290.690002,9318400.0,596.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,113.930000,1.421085e-14,118.956540,8.281270,127.970615,43.683457,134.071880,55.058662,139.148884,62.622532,160.784800,95.685290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,113.930000,NaN,123.265003,13.201688,192.970004,121.092954,226.657503,119.645558,247.316005,113.446741,322.828004,123.595481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.026595,0,0
4833,2023-02-07 05:00:00+00:00,0.0,0.0,ZM,technology,usa,14656800.0,84.660004,2023,2,7,1,8435,110.900002,3953300.0,305.0,113.930000,4209400.0,319.0,132.600006,12033100.0,344.0,332.380005,2476000.0,537.0,327.720001,6607100.0,616.0,478.250000,6097700.0,854.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.900002,0.000000e+00,112.381011,1.514618,118.687152,9.450661,154.272452,80.077790,176.259795,94.497490,251.959620,136.383320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.900002,NaN,112.415001,2.142533,119.143336,11.751881,172.452503,107.049243,203.506003,115.828556,304.849004,140.685137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.236610,0,0

In [32]:
df = df.drop('Date', axis=1)

## deleted date because it is satified with day number

def get_column_types(df):
    return pd.DataFrame({
        'column': df.columns,
        'dtype': df.dtypes.values
    })
pd.set_option('display.max_rows', None)

types_table = get_column_types(df)
print(types_table)

                      column    dtype
0                  Dividends  float64
1               Stock Splits  float64
2                     Ticker   object
3               Industry_Tag   object
4                    Country   object
5                     Volume  float64
6                      Close  float64
7                       Year    int32
8                      Month    int32
9                        Day    int32
10                 DayOfWeek    int32
11                Day_Number    int64
12               Close_Lag_1  float64
13              Volume_Lag_1  float64
14          Days_Since_Lag_1  float64
15               Close_Lag_2  float64
16              Volume_Lag_2  float64
17          Days_Since_Lag_2  float64
18               Close_Lag_3  float64
19              Volume_Lag_3  float64
20          Days_Since_Lag_3  float64
21               Close_Lag_4  float64
22              Volume_Lag_4  float64
23          Days_Since_Lag_4  float64
24               Close_Lag_5  float64
25              Volume_Lag_5  float64
26          Days_Since_Lag_5  float64
27              Close_Lag_10  float64
28             Volume_Lag_10  float64
29         Days_Since_Lag_10  float64
30              Close_Lag_20  float64
31             Volume_Lag_20  float64
32         Days_Since_Lag_20  float64
33              Close_Lag_30  float64
34             Volume_Lag_30  float64
35         Days_Since_Lag_30  float64
36              Close_Lag_40  float64
37             Volume_Lag_40  float64
38         Days_Since_Lag_40  float64
39              Close_Lag_50  float64
40             Volume_Lag_50  float64
41         Days_Since_Lag_50  float64
42              Close_Lag_60  float64
43             Volume_Lag_60  float64
44         Days_Since_Lag_60  float64
45              Close_Lag_70  float64
46             Volume_Lag_70  float64
47         Days_Since_Lag_70  float64
48              Close_Lag_80  float64
49             Volume_Lag_80  float64
50         Days_Since_Lag_80  float64
51              Close_Lag_90  float64
52             Volume_Lag_90  float64
53         Days_Since_Lag_90  float64
54             Close_Lag_100  float64
55            Volume_Lag_100  float64
56        Days_Since_Lag_100  float64
57           Weighted_Mean_1  float64
58            Weighted_Std_1  float64
59           Weighted_Mean_2  float64
60            Weighted_Std_2  float64
61           Weighted_Mean_3  float64
62            Weighted_Std_3  float64
63           Weighted_Mean_4  float64
64            Weighted_Std_4  float64
65           Weighted_Mean_5  float64
66            Weighted_Std_5  float64
67          Weighted_Mean_10  float64
68           Weighted_Std_10  float64
69          Weighted_Mean_20  float64
70           Weighted_Std_20  float64
71          Weighted_Mean_30  float64
72           Weighted_Std_30  float64
73          Weighted_Mean_40  float64
74           Weighted_Std_40  float64
75          Weighted_Mean_50  float64
76           Weighted_Std_50  float64
77          Weighted_Mean_60  float64
78           Weighted_Std_60  float64
79          Weighted_Mean_70  float64
80           Weighted_Std_70  float64
81          Weighted_Mean_80  float64
82           Weighted_Std_80  float64
83          Weighted_Mean_90  float64
84           Weighted_Std_90  float64
85         Weighted_Mean_100  float64
86          Weighted_Std_100  float64
87             Simple_Mean_1  float64
88              Simple_Std_1  float64
89             Simple_Mean_2  float64
90              Simple_Std_2  float64
91             Simple_Mean_3  float64
92              Simple_Std_3  float64
93             Simple_Mean_4  float64
94              Simple_Std_4  float64
95             Simple_Mean_5  float64
96              Simple_Std_5  float64
97            Simple_Mean_10  float64
98             Simple_Std_10  float64
99            Simple_Mean_20  float64
100            Simple_Std_20  float64
101           Simple_Mean_30  float64
102            Simple_Std_30  float64
103           Simple_Mean_40  float64
104            Simple_Std_40  float64
105           Simple_Mean_50  float64
106            Simple_Std_50  float64
107           Simple_Mean_60  float64
108            Simple_Std_60  float64
109           Simple_Mean_70  float64
110            Simple_Std_70  float64
111           Simple_Mean_80  float64
112            Simple_Std_80  float64
113           Simple_Mean_90  float64
114            Simple_Std_90  float64
115          Simple_Mean_100  float64
116           Simple_Std_100  float64
117  return_since_last_entry  float64
118         Dividends_signal    int32
119      Stock Splits_signal    int32

In [33]:
def pre_training_analysis(df, target='Close', top_n=30):
    """
    Performs pre-model exploratory analysis:
    - Correlation heatmap
    - Distribution of top correlated features
    - Pairplot of top correlated features
    
    Parameters:
    - df (pd.DataFrame): Input DataFrame
    - target (str): Target column to predict
    - top_n (int): Number of top correlated features to visualize
    """
    
    # 1. Filter numerical columns
    numeric_df = df.select_dtypes(include=['float64', 'int32', 'int64'])
    
    # 2. Compute correlations
    corr_matrix = numeric_df.corr()
    target_corr = corr_matrix[target].drop(target).sort_values(ascending=False)

    print(f"\n🔍 Top {top_n} features most correlated with '{target}':\n")
    print(target_corr.head(top_n))

    # 3. Correlation heatmap
    plt.figure(figsize=(10, 10))
    sns.heatmap(corr_matrix[[target]].sort_values(by=target, ascending=False), annot=True, cmap='coolwarm', linewidths=0.5)
    plt.title(f"Correlation of Numerical Features with '{target}'", fontsize=14)
    plt.show()
    
    # 4. Distribution plots
    top_features = target_corr.head(top_n).index.tolist()
    for feature in top_features:
        plt.figure(figsize=(8, 4))
        sns.scatterplot(data=df, x=feature, y=target, alpha=0.5)
        plt.title(f"Scatterplot: {feature} vs {target}")
        plt.show()
    
    # 5. Pairplot for top features
    pairplot_features = top_features[:min(5, len(top_features))] + [target]
    sns.pairplot(df[pairplot_features], diag_kind="kde", corner=True)
    plt.suptitle(f"Pairplot of Top {top_n} Correlated Features with '{target}'", y=1.02)
    plt.show()

In [40]:
# pre_training_analysis(df)
df.isna().sum()

Dividends                     0
Stock Splits                  0
Ticker                        0
Industry_Tag                  0
Country                       0
Volume                       34
Close                         0
Year                          0
Month                         0
Day                           0
DayOfWeek                     0
Day_Number                    0
Close_Lag_1                  61
Volume_Lag_1                 94
Days_Since_Lag_1             61
Close_Lag_2                 122
Volume_Lag_2                154
Days_Since_Lag_2            122
Close_Lag_3                 183
Volume_Lag_3                214
Days_Since_Lag_3            183
Close_Lag_4                 244
Volume_Lag_4                275
Days_Since_Lag_4            244
Close_Lag_5                 305
Volume_Lag_5                335
Days_Since_Lag_5            305
Close_Lag_10                610
Volume_Lag_10               638
Days_Since_Lag_10           610
Close_Lag_20               1179
Volume_Lag_20              1206
Days_Since_Lag_20          1179
Close_Lag_30               1707
Volume_Lag_30              1729
Days_Since_Lag_30          1707
Close_Lag_40               2212
Volume_Lag_40              2230
Days_Since_Lag_40          2212
Close_Lag_50               2704
Volume_Lag_50              2720
Days_Since_Lag_50          2704
Close_Lag_60               3184
Volume_Lag_60              3198
Days_Since_Lag_60          3184
Close_Lag_70               3641
Volume_Lag_70              3652
Days_Since_Lag_70          3641
Close_Lag_80               4047
Volume_Lag_80              4055
Days_Since_Lag_80          4047
Close_Lag_90               4417
Volume_Lag_90              4420
Days_Since_Lag_90          4417
Close_Lag_100              4719
Volume_Lag_100             4720
Days_Since_Lag_100         4719
Weighted_Mean_1              61
Weighted_Std_1               61
Weighted_Mean_2             122
Weighted_Std_2              122
Weighted_Mean_3             183
Weighted_Std_3              183
Weighted_Mean_4             244
Weighted_Std_4              244
Weighted_Mean_5             305
Weighted_Std_5              305
Weighted_Mean_10            610
Weighted_Std_10             610
Weighted_Mean_20           1179
Weighted_Std_20            1179
Weighted_Mean_30           1707
Weighted_Std_30            1707
Weighted_Mean_40           2212
Weighted_Std_40            2212
Weighted_Mean_50           2704
Weighted_Std_50            2704
Weighted_Mean_60           3184
Weighted_Std_60            3184
Weighted_Mean_70           3641
Weighted_Std_70            3641
Weighted_Mean_80           4047
Weighted_Std_80            4047
Weighted_Mean_90           4417
Weighted_Std_90            4417
Weighted_Mean_100          4719
Weighted_Std_100           4719
Simple_Mean_1                61
Simple_Std_1               4988
Simple_Mean_2               122
Simple_Std_2                122
Simple_Mean_3               183
Simple_Std_3                183
Simple_Mean_4               244
Simple_Std_4                244
Simple_Mean_5               305
Simple_Std_5                305
Simple_Mean_10              610
Simple_Std_10               610
Simple_Mean_20             1179
Simple_Std_20              1179
Simple_Mean_30             1707
Simple_Std_30              1707
Simple_Mean_40             2212
Simple_Std_40              2212
Simple_Mean_50             2704
Simple_Std_50              2704
Simple_Mean_60             3184
Simple_Std_60              3184
Simple_Mean_70             3641
Simple_Std_70              3641
Simple_Mean_80             4047
Simple_Std_80              4047
Simple_Mean_90             4417
Simple_Std_90              4417
Simple_Mean_100            4719
Simple_Std_100             4719
return_since_last_entry      61
Dividends_signal              0
Stock Splits_signal           0
dtype: int64

In [35]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_selection import VarianceThreshold, mutual_info_regression

def pre_training_analysis_v2(df, target='Close', top_n=6, drop_low_variance=True, variance_threshold=0.01):
    """
    Extended EDA for regression:
    - Drops low-variance features
    - Correlation + Mutual Info
    - Histograms, KDEs
    - Pairplots
    - Scatterplots
    
    Parameters:
    - df (pd.DataFrame): Data
    - target (str): Target column
    - top_n (int): Number of top features to show
    - drop_low_variance (bool): Drop near-constant columns
    - variance_threshold (float): Threshold for variance filter
    """
    
    # 1. Numerical subset
    numeric_df = df.select_dtypes(include=['float64', 'int32', 'int64']).copy()
    
    # 2. Drop low-variance
    if drop_low_variance:
        features = numeric_df.drop(columns=[target], errors='ignore')
        selector = VarianceThreshold(threshold=variance_threshold)
        selector.fit(features)
        retained_columns = features.columns[selector.get_support()]
        dropped_columns = features.columns[~selector.get_support()]
        
        print(f"\n⚠️ Dropping {len(dropped_columns)} low-variance features:\n{dropped_columns.tolist()}\n")
        numeric_df = numeric_df[retained_columns.tolist() + [target]]
    
    # 3. Correlation
    corr_matrix = numeric_df.corr()
    target_corr = corr_matrix[target].drop(target).sort_values(ascending=False)
    
    print(f"\n📈 Top {top_n} features by Pearson correlation with '{target}':\n")
    print(target_corr.head(top_n))
    
    # 4. Mutual Information
    mi_df = numeric_df.iloc[101:]
    X = mi_df.drop(columns=[target])
    y = mi_df[target]
    mi_scores = mutual_info_regression(X, y, random_state=42)
    mi_series = pd.Series(mi_scores, index=X.columns).sort_values(ascending=False)
    
    print(f"\n🧠 Top {top_n} features by Mutual Information with '{target}':\n")
    print(mi_series.head(top_n))

    # --- PLOTS ---
    # 5. Correlation heatmap
    plt.figure(figsize=(10, 10))
    sns.heatmap(corr_matrix[[target]].sort_values(by=target, ascending=False), annot=True, cmap='coolwarm', linewidths=0.5)
    plt.title(f"Correlation with '{target}'", fontsize=14)
    plt.show()
    
    # 6. KDE + Histograms of top mutual info features
    top_features = mi_series.head(top_n).index.tolist()
    for feature in top_features:
        fig, ax = plt.subplots(1, 2, figsize=(12, 4))
        sns.histplot(df[feature], kde=False, ax=ax[0], color='skyblue')
        ax[0].set_title(f"Histogram of {feature}")
        sns.kdeplot(df[feature], ax=ax[1], fill=True, color='orange')
        ax[1].set_title(f"KDE of {feature}")
        plt.show()

    # 7. Scatterplots against target
    for feature in top_features:
        plt.figure(figsize=(8, 4))
        sns.scatterplot(x=df[feature], y=df[target], alpha=0.5)
        plt.title(f"Scatterplot: {feature} vs {target}")
        plt.show()
    
    # 8. Pairplot of top 5 MI features + target
    pairplot_features = top_features[:min(5, len(top_features))] + [target]
    sns.pairplot(df[pairplot_features], diag_kind="kde", corner=True)
    plt.suptitle(f"Pairplot of Top {top_n} MI Features + '{target}'", y=1.02)
    plt.show()

In [39]:
df.describe()

,Dividends,Stock Splits,Volume,Close,Year,Month,Day,DayOfWeek,Day_Number,Close_Lag_1,Volume_Lag_1,Days_Since_Lag_1,Close_Lag_2,Volume_Lag_2,Days_Since_Lag_2,Close_Lag_3,Volume_Lag_3,Days_Since_Lag_3,Close_Lag_4,Volume_Lag_4,Days_Since_Lag_4,Close_Lag_5,Volume_Lag_5,Days_Since_Lag_5,Close_Lag_10,Volume_Lag_10,Days_Since_Lag_10,Close_Lag_20,Volume_Lag_20,Days_Since_Lag_20,Close_Lag_30,Volume_Lag_30,Days_Since_Lag_30,Close_Lag_40,Volume_Lag_40,Days_Since_Lag_40,Close_Lag_50,Volume_Lag_50,Days_Since_Lag_50,Close_Lag_60,Volume_Lag_60,Days_Since_Lag_60,Close_Lag_70,Volume_Lag_70,Days_Since_Lag_70,Close_Lag_80,Volume_Lag_80,Days_Since_Lag_80,Close_Lag_90,Volume_Lag_90,Days_Since_Lag_90,Close_Lag_100,Volume_Lag_100,Days_Since_Lag_100,Weighted_Mean_1,Weighted_Std_1,Weighted_Mean_2,Weighted_Std_2,Weighted_Mean_3,Weighted_Std_3,Weighted_Mean_4,Weighted_Std_4,Weighted_Mean_5,Weighted_Std_5,Weighted_Mean_10,Weighted_Std_10,Weighted_Mean_20,Weighted_Std_20,Weighted_Mean_30,Weighted_Std_30,Weighted_Mean_40,Weighted_Std_40,Weighted_Mean_50,Weighted_Std_50,Weighted_Mean_60,Weighted_Std_60,Weighted_Mean_70,Weighted_Std_70,Weighted_Mean_80,Weighted_Std_80,Weighted_Mean_90,Weighted_Std_90,Weighted_Mean_100,Weighted_Std_100,Simple_Mean_1,Simple_Std_1,Simple_Mean_2,Simple_Std_2,Simple_Mean_3,Simple_Std_3,Simple_Mean_4,Simple_Std_4,Simple_Mean_5,Simple_Std_5,Simple_Mean_10,Simple_Std_10,Simple_Mean_20,Simple_Std_20,Simple_Mean_30,Simple_Std_30,Simple_Mean_40,Simple_Std_40,Simple_Mean_50,Simple_Std_50,Simple_Mean_60,Simple_Std_60,Simple_Mean_70,Simple_Std_70,Simple_Mean_80,Simple_Std_80,Simple_Mean_90,Simple_Std_90,Simple_Mean_100,Simple_Std_100,return_since_last_entry,Dividends_signal,Stock Splits_signal
count,4988.000000,4988.000000,4.954000e+03,4988.000000,4988.000000,4988.000000,4988.000000,4988.000000,4988.000000,4927.000000,4.894000e+03,4927.000000,4866.000000,4.834000e+03,4866.000000,4805.000000,4.774000e+03,4805.000000,4744.000000,4.713000e+03,4744.000000,4683.000000,4.653000e+03,4683.000000,4378.000000,4.350000e+03,4378.000000,3809.000000,3.782000e+03,3809.000000,3281.000000,3.259000e+03,3281.000000,2776.000000,2.758000e+03,2776.000000,2284.000000,2.268000e+03,2284.000000,1804.000000,1.790000e+03,1804.000000,1347.000000,1.336000e+03,1347.000000,941.000000,9.330000e+02,941.000000,571.000000,5.680000e+02,571.000000,269.000000,2.680000e+02,269.000000,4927.000000,4.927000e+03,4866.000000,4866.000000,4805.000000,4805.000000,4744.000000,4744.000000,4683.000000,4683.000000,4378.000000,4378.000000,3809.000000,3809.000000,3281.000000,3281.000000,2776.000000,2776.000000,2284.000000,2284.000000,1804.000000,1804.000000,1347.000000,1347.000000,941.000000,941.000000,571.000000,571.000000,269.000000,269.000000,4927.000000,0.0,4866.000000,4866.000000,4805.000000,4805.000000,4744.000000,4744.000000,4683.000000,4683.000000,4378.000000,4378.000000,3809.000000,3809.000000,3281.000000,3281.000000,2776.000000,2776.000000,2284.000000,2284.000000,1804.000000,1804.000000,1347.000000,1347.000000,941.000000,941.000000,571.000000,571.000000,269.000000,269.000000,4927.000000,4988.000000,4988.000000
mean,0.003335,0.000802,2.496811e+07,64.897845,2012.644948,6.589816,15.745589,2.043304,4799.460505,63.631735,2.513081e+07,79.961031,62.431113,2.528115e+07,159.935676,61.319324,2.543831e+07,239.961498,60.217532,2.559279e+07,320.089165,59.003507,2.575156e+07,400.577408,51.672824,2.662563e+07,805.138419,40.081930,2.836035e+07,1613.729325,32.619696,3.059129e+07,2418.785736,26.633306,3.234039e+07,3221.103026,22.661064,3.400579e+07,4005.092382,20.516583,3.652789e+07,4774.136918,19.266628,3.298889e+07,5547.867112,18.007011,2.661390e+07,6327.043571,17.139025,2.843556e+07,7030.332750,17.486859,3.461833e+07,7646.237918,63.631735,7.500258e-16,63.719212,2.649434,63.830821,4.091064,63.945612,5.171265,64.080533,6.032730,64.824791,9.007243,67.243117,13.229757,70.489010,16.934719,74.533773,20.498284,79.383694,24.043436,81.225508,26.331081,88.036679,30.566554,98.844886,36.801718,113.386454,44.361063,134.654076,54.725733,63.631735,NaN,63.249864,4.651104,62.894738,6.183059,62.549995,7.319385,62.183568,8.251661,59.971246,11.649336,55.500693,15.945861,52.707062,19.129065,50.601971,22.256670,49.019009,25.131315,47.297707,26.854365,47.803677,30.030218,50.193150,34.937001,53.752114,41.151717,57.961634,48.645615,0.039888,0.010024,0.000200
std,0.048380,0.056637,9.781272e+07,115.265367,6.758283,3.378080,8.573701,1.415818,2469.742094,111.376117,9.837230e+07,79.721356,108.526773,9.892603e+07,111.397449,106.460130,9.950624e+07,136.738740,104.231234,1.001000e+08,158.919034,101.479955,1.006992e+08,178.883030,83.365869,1.038908e+08,253.852143,53.729392,1.102961e+08,367.495835,39.727325,1.177810e+08,446.973305,25.512923,1.228229e+08,504.969303,18.658800,1.257676e+08,563.172494,15.908619,1.351130e+08,577.256401,15.008780,1.149657e+08,569.788932,13.735303,8.038970e+07,537.638975,12.353375,8.246732e+07,488.246283,12.409548,1.033894e+08,400.053125,111.376117,4.936656e-15,111.324635,7.761547,111.301887,10.839954,111.008102,13.432578,110.824346,15.431438,110.246477,21.943362,109.335298,29.976854,110.652688,35.517787,111.864470,40.472202,114.469175,44.848269,81.597745,34.055568,73.128237,32.518776,76.373055,36.404394,80.196854,40.313744,88.668061,47.785361,111.376117,NaN,109.697756,14.709854,108.358501,17.016739,107.033767,19.311956,105.603180,21.465181,97.215703,29.746942,79.260239,37.292015,70.522289,37.987083,62.333723,40.101785,54.582151,42.378122,41.987481,33.652064,35.779394,30.319301,34.723193,32.433988,33.864680,34.440231,31.299206,35.305104,0.208987,0.099627,0.014159
min,0.000000,0.000000,0.000000e+00,0.199164,2000.000000,1.000000,1.000000,0.000000,0.000000,0.199164,0.000000e+00,1.000000,0.199164,0.000000e+00,2.000000,0.199164,0.000000e+00,9.000000,0.199164,0.000000e+00,23.000000,0.199164,0.000000e+00,41.000000,0.199164,0.000000e+00,242.000000,0.199164,0.000000e+00,600.000000,0.199164,0.000000e+00,1281.000000,0.199164,0.000000e+00,1809.000000,0.199164,0.000000e+00,2534.000000,0.199164,0.000000e+00,3087.000000,0.199164,0.000000e+00,3969.000000,0.199164,7.700000e+03,4745.000000,0.218717,7.700000e+03,5841.000000,0.312085,7.700000e+03,6565.000000,0.199164,0.000000e+00,0.199853,0.000000,0.200093,0.003784,0.200391,0.004676,0.200549,0.005325,0.201719,0.013495,0.205668,0.050228,1.010352,0.135460,2.289493,0.484466,2.836811,0.518904,2.834859,0.532298,3.222525,0.865467,4.264673,1.254910,9.717474,1.343127,14.292094,3.331692,0.199164,NaN,0.201968,0.000000,0.206086,0.006057,0.209244,0.008890,0.212654,0.010836,0.265961,0.035723,0.335195,0.158757,0.549957,0.360179,1.028732,1.003162,1.562742,1.271396,2.169225,1.301590,3.123690,1.422722,3.301079,1.444347,6.987918,3.757395,11.012862,5.363567,-0.954162,0.000000,0.000000
25%,0.000000,0.000000,1.348250e+06,14.987534,2007.000000,4.000000,8.000000,1.000000,2795.000000,14.888959,1.331650e+06,22.000000,14.800750,1.331650e+06,78.000000,14.660000,1.331650e+06,140.000000,14.510560,1.330400e+06,203.000000,14.411101,1.329500e+06,271.000000,13.858038,1.317400e+06,624.000000,12.748380,1.325000e+06,1350.000000,11.744945,1.358914e+06,2121.000000,10.476640,1.420550e+06,2848.000000,9.744211,1.623350e+06,3569.750000,8.866264,1.894150e+06,4349.000000,7.823236,2.012600e+06,5140.500000,6.395537,2.157600e+06,5924.000000,5.686410,2.690750e+06,6665.500000,5.021327,3.234050e+06,7371.000000,14.888959,0.000000e+00,14.950459,0.262024,15.054630,0.578719,15.192967,0.821856,15.286607,1.006578,16.037199,1.655804,17.379980,2.667775,20.337053,3.415624,24.392833,4.238493,28.200977,5.635568,33.946240,7.748944,37.673569,10.178797,42.356185,12.164579,54.685921,14.642287,71.339345,23.103057,14.888959,NaN,14.925370,0.435667,15.034623,0.887155,14.992648,1.185228,15.047296,1.418590,15.443705,2.206448,15.760340,3.340983,16.268898,4.340691,18.030047,5.317423,19.845586,6.734261,22.038442,8.632508,23.808968,12.049005,25.121266,15.413674,27.021322,18.651450,33.190465,24.343393,-0.037748,0.000000,0.000000
50%,0.000000,0.000000,4.598000e+06,32.818146,2013.000000,7.000000,16.000000,2.000000,4992.500000,32.572144,4.603100e+06,56.000000,32.246340,4.624100e+06,135.000000,31.787085,4.624100e+06,214.000000,31.401977,4.626500e+06,294.000000,30.935246,4.621700e+06,372.000000,28.591087,4.634500e+06,771.500000,25.132874,4.736524e+06,1589.000000,22.274012,4.941300e+06,2399.000000,20.123888,5.222000e+06,3217.000000,18.298695,5.464650e+06,4004.000000,17.163456,5.545600e+06,4803.500000,16.227367,5.352700e+06,5583.000000,15.780711,5.117902e+06,6334.000000,16.151772,5.344400e+06,7056.000000,17.313225,5.966755e+06,7690.000000,32.572144,0.000000e+00,32.666852,0.797864,32.851250,1.373243,33.066165,1.794862,33.311625,2.137710,34.465109,3.399379,37.746187,5.389116,40.902935,7.251126,44.622524,9.448262,49.664674,11.911057,57.727487,15.275758,69.844555,20.256272,82.380923,27.212110,99.747482,32.912163,114.176991,40.087312,32.572144,NaN,32.507393,1.368301,32.463661,2.082094,32.425762,2.565613,32.376016,2.963747,32.319343,4.522167,32.585819,6.612254,33.494146,8.611652,34.782417,11.076921,35.114827,13.735594,36.325614,16.783158,39.206995,19.928591,43.919337,26.311011,49.000304,33.395017,53.802027,39.020422,0.017367,0.000000,0.000000
75%,0.000000,0.000000,1.157740e+07,73.286100,2019.000000,9.000000,23.000000,3.000000,6944.250000,71.991985,1.156588e+07,112.000000,71.028931,1.155890e+07,214.000000,69.205643,1.157002e+07,312.000000,67.578146,1.154630e+07,406.000000,65.868736,1.157950e+07,500.000000,59.644273,1.159278e+07,962.000000,48.767132,1.179650e+07,1850.000000,40.607174,1.227995e+07,2710.000000,34.785292,1.295510e+07,3572.250000,30.936644,1.342618e+07,4397.000000,28.448277,1.343150e+07,5147.000000,26.825000,1.174720e+07,5882.500000,25.656733,1.053570e+07,6642.000000,25.444673,1.055920e+07,7339.000000,26.881767,1.122575e+07,7959.000000,71.991985,0.000000e+00,72.154996,2.184411,72.610245,3.486409,72.783188,4.514279,72.748836,5.480014,73.973232,8.401354,77.269750,13.226934,83.077246,17.932606,91.744771,22.470386,99.322505,27.475217,106.263617,32.581612,115.852323,38.756752,132.017860,45.045926,144.201925,54.034355,157.665771,69.598073,71.991985,NaN,71.751803,3.753809,71.687958,5.460093,71.312603,6.527627,70.458468,7.496256,68.431586,10.826714,66.841884,16.138929,65.163584,20.586397,63.170853,24.755573,61.977993,29.079282,62.108479,32.874163,62.488120,37.655442,65.555033,42.376453,68.364130,50.643469,73.942256,54.699288,0.094939,0.000000,0.000000
max,1.360000,4.000000,2.107417e+09,2040.550049,2023.000000,12.000000,31.000000,4.000000,8657.000000,1917.880005,2.107417e+09,871.000000,1917.880005,2.107417e+09,908.000000,1917.880005,2.107417e+09,1073.000000,1917.880005,2.107417e+09,1222.000000,1917.880005,2.107417e+09,1302.000000,1917.880005,2.107417e+09,1771.000000,750.419983,2.107417e+09,3100.000000,595.619995,2.107417e+09,3877.000000,301.459991,2.107417e+09,4903.000000,143.589996,2.107417e+09,5626.000000,108.980522,2.107417e+09,6599.000000,108.980522,1.795293e+09,7372.000000,82.731903,9.411360e+08,8083.000000,69.494064,9.411360e+08,8483.000000,69.494064,9.411360e+08,8430.000000,1917.880005,2.273737e-13,1868.972534,193.106843,1849.192504,232.101366,1834.888798,275.710534,1817.981581,331.738142,1761.441924,501.442734,1696.973250,582.768336,1659.159205,625.855421,1624.668382,667.573856,1596.749034,698.498871,1317.455932,539.265788,457.773925,215.528543,450.198671,219.463170,443.663785,222.385018,437.636140,225.004702,1917.880005,NaN,1885.275024,439.028462,1849.220011,433.342992,1723.200012,437.542921,1690.228003,526.615331,1620.857007,656.370911,1186.389000,623.710957,973.827665,570.557121,824.454249,557.732527,695.114999,563.256270,594.488333,561.367043,238.522286,176.949129,210.470840,177.462706,187.392492,175.946747,168.899529,172.848988,5.123934,1.000000,1.000000

In [37]:
pre_training_analysis_v2(df, top_n=10, drop_low_variance=True)

c:\Users\timmv\anaconda3\envs\ml2025\Lib\site-packages\sklearn\feature_selection\_variance_threshold.py:112: RuntimeWarning: Degrees of freedom <= 0 for slice.
  self.variances_ = np.nanvar(X, axis=0)

⚠️ Dropping 6 low-variance features:
['Dividends', 'Stock Splits', 'Weighted_Std_1', 'Simple_Std_1', 'Dividends_signal', 'Stock Splits_signal']


📈 Top 10 features by Pearson correlation with 'Close':

Simple_Mean_1       0.981482
Close_Lag_1         0.981482
Weighted_Mean_1     0.981482
Weighted_Mean_2     0.979466
Weighted_Mean_3     0.976961
Weighted_Mean_4     0.975266
Simple_Mean_2       0.975072
Weighted_Mean_5     0.973934
Weighted_Mean_10    0.970071
Weighted_Mean_20    0.968629
Name: Close, dtype: float64

ValueError: Input X contains NaN.

In [ ]:
# Numerical features
numerical_features = df.select_dtypes(['float64','int64']).columns.tolist()
numerical_features.remove("Close")


# Categorical features
categorical_features = df.select_dtypes(['object','int32']).columns.tolist()

print(categorical_features)

['Ticker', 'Industry_Tag', 'Country', 'Year', 'Month', 'Day', 'DayOfWeek', 'Dividends_signal', 'Stock Splits_signal']

In [ ]:
def split_time_series_data(df, split_percentage=0.7):
    """
    Splits a time series dataset into training and testing sets by ticker, based on the given percentage.
    
    Parameters:
    df (pd.DataFrame): The DataFrame containing the time series data with 'date' and 'ticker' columns.
    split_percentage (float): The percentage of data to use for the training set (e.g., 0.7 for 70% training).
    
    Returns:
    X_train, X_test, y_train, y_test: Split datasets for features and target.
    """

    # Sort the DataFrame by 'ticker' and 'date' to maintain chronological order
    df = df.sort_values(by=['Ticker', 'Day_Number'])

    # Create empty lists to hold training and test data
    train_data = []
    test_data = []

    # Loop through each unique ticker
    for ticker in df['Ticker'].unique():
        # Filter data for this ticker
        ticker_data = df[df['Ticker'] == ticker]
        
        # Calculate the index that separates the split based on the given percentage
        split_idx = int(len(ticker_data) * split_percentage)
        
        # Split the data into train and test sets
        train_data.append(ticker_data.iloc[:split_idx])  # First 'split_percentage' for training
        test_data.append(ticker_data.iloc[split_idx:])  # Remaining data for testing

    # Concatenate the train and test data
    train_df = pd.concat(train_data).sort_values(by=['Ticker', 'Day_Number'])
    test_df = pd.concat(test_data).sort_values(by=['Ticker', 'Day_Number'])

    # Assuming 'target' is the name of your target column, adjust as needed
    X_train = train_df.drop(columns='Close')  # Features for training
    y_train = train_df['Close']  # Target for training

    X_test = test_df.drop(columns='Close')  # Features for testing
    y_test = test_df['Close']  # Target for testing

    return X_train, X_test, y_train, y_test

X_train, X_test, y_train, y_test = split_time_series_data(df, split_percentage=0.7)
print(f"X_train shape: {X_train.shape}")
print(f"X_test shape: {X_test.shape}")
print(f"y_train shape: {y_train.shape}")
print(f"y_test shape: {y_test.shape}")

X_train shape: (3464, 34)
X_test shape: (1524, 34)
y_train shape: (3464,)
y_test shape: (1524,)

In [ ]:

numeric_preprocessor = Pipeline([ 
    ("scaler", StandardScaler())
])                  ###might be wrong becaue i scale over all tickes

categorical_preprocessor = Pipeline([
    ("onehot", OneHotEncoder(sparse_output=False, drop='first',handle_unknown='infrequent_if_exist'))
])

preprocessor = ColumnTransformer([
    ("numerical",numeric_preprocessor, numerical_features),
    ("categorical",categorical_preprocessor, categorical_features)
    
], remainder='passthrough')

from xgboost import XGBRegressor

pipe = Pipeline([
    ('preprocessor',preprocessor),
    ('regressor',  XGBRegressor(random_state=0))
])

from scipy.stats import uniform as sp_uniform

param_grid = {
    'regressor__learning_rate': sp_uniform(loc=0.03, scale=0.07),
    'regressor__max_depth': [4, 5, 6, 7],
    'regressor__n_estimators': [300,400,500,600,700,800,900,1000]
}

grid_search = RandomizedSearchCV(pipe, param_distributions=param_grid, cv=5, random_state=0, n_jobs=-1,n_iter=15,error_score='raise' )
grid_search.fit(X_train, y_train)



print(pipe.get_params())
grid_search.fit(X_train,y_train)
best_params = grid_search.best_params_
print('Best parameters:',best_params)

c:\Users\timmv\anaconda3\envs\ml2025\Lib\site-packages\sklearn\utils\extmath.py:1050: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
c:\Users\timmv\anaconda3\envs\ml2025\Lib\site-packages\sklearn\utils\extmath.py:1055: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
c:\Users\timmv\anaconda3\envs\ml2025\Lib\site-packages\sklearn\utils\extmath.py:1075: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count

{'memory': None, 'steps': [('preprocessor', ColumnTransformer(remainder='passthrough',
                  transformers=[('numerical',
                                 Pipeline(steps=[('scaler', StandardScaler())]),
                                 ['Dividends', 'Stock Splits', 'Volume',
                                  'Day_Number', 'Close_Lag_1', 'Volume_Lag_1',
                                  'Days_Since_Lag_1', 'Close_Lag_2',
                                  'Volume_Lag_2', 'Days_Since_Lag_2',
                                  'Close_Lag_3', 'Volume_Lag_3',
                                  'Days_Since_Lag_3', 'Weighted_Mean_3',
                                  'Weighted_Std_3', 'Weight...
                                  'Weighted_Std_100', 'Simple_Mean_3',
                                  'Simple_Std_3', 'Simple_Mean_50',
                                  'Simple_Std_50', 'Simple_Mean_100',
                                  'Simple_Std_100']),
                                ('categorical',
                                 Pipeline(steps=[('onehot',
                                                  OneHotEncoder(drop='first',
                                                                handle_unknown='infrequent_if_exist',
                                                                sparse_output=False))]),
                                 ['Ticker', 'Industry_Tag', 'Country', 'Year',
                                  'Month', 'Day', 'DayOfWeek',
                                  'Dividends_signal', 'Stock Splits_signal'])])), ('regressor', XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=0, ...))], 'verbose': False, 'preprocessor': ColumnTransformer(remainder='passthrough',
                  transformers=[('numerical',
                                 Pipeline(steps=[('scaler', StandardScaler())]),
                                 ['Dividends', 'Stock Splits', 'Volume',
                                  'Day_Number', 'Close_Lag_1', 'Volume_Lag_1',
                                  'Days_Since_Lag_1', 'Close_Lag_2',
                                  'Volume_Lag_2', 'Days_Since_Lag_2',
                                  'Close_Lag_3', 'Volume_Lag_3',
                                  'Days_Since_Lag_3', 'Weighted_Mean_3',
                                  'Weighted_Std_3', 'Weight...
                                  'Weighted_Std_100', 'Simple_Mean_3',
                                  'Simple_Std_3', 'Simple_Mean_50',
                                  'Simple_Std_50', 'Simple_Mean_100',
                                  'Simple_Std_100']),
                                ('categorical',
                                 Pipeline(steps=[('onehot',
                                                  OneHotEncoder(drop='first',
                                                                handle_unknown='infrequent_if_exist',
                                                                sparse_output=False))]),
                                 ['Ticker', 'Industry_Tag', 'Country', 'Year',
                                  'Month', 'Day', 'DayOfWeek',
                                  'Dividends_signal', 'Stock Splits_signal'])]), 'regressor': XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=0, ...), 'preprocessor__n_jobs': None, 'preprocessor__remainder': 'passthrough', 'preprocessor__sparse_threshold': 0.3, 'preprocessor__transformer_weights': None, 'preprocessor__transformers': [('numerical', Pipeline(steps=[('scaler', StandardScaler())]), ['Dividends', 'Stock Splits', 'Volume', 'Day_Number', 'Close_Lag_1', 'Volume_Lag_1', 'Days_Since_Lag_1', 'Close_Lag_2', 'Volume_Lag_2', 'Days_Since_Lag_2', 'Close_Lag_3', 'Volume_Lag_3', 'Days_Since_Lag_3', 'Weighted_Mean_3', 'Weighted_Std_3', 'Weighted_Mean_50', 'Weighted_Std_50', 'Weighted_Mean_100', 'Weighted_Std_100', 'Simple_Mean_3', 'Simple_Std_3', 'Simple_Mean_50', 'Simple_Std_50', 'Simple_Mean_100', 'Simple_Std_100']), ('categorical', Pipeline(steps=[('onehot',
                 OneHotEncoder(drop='first',
                               handle_unknown='infrequent_if_exist',
                               sparse_output=False))]), ['Ticker', 'Industry_Tag', 'Country', 'Year', 'Month', 'Day', 'DayOfWeek', 'Dividends_signal', 'Stock Splits_signal'])], 'preprocessor__verbose': False, 'preprocessor__verbose_feature_names_out': True, 'preprocessor__numerical': Pipeline(steps=[('scaler', StandardScaler())]), 'preprocessor__categorical': Pipeline(steps=[('onehot',
                 OneHotEncoder(drop='first',
                               handle_unknown='infrequent_if_exist',
                               sparse_output=False))]), 'preprocessor__numerical__memory': None, 'preprocessor__numerical__steps': [('scaler', StandardScaler())], 'preprocessor__numerical__verbose': False, 'preprocessor__numerical__scaler': StandardScaler(), 'preprocessor__numerical__scaler__copy': True, 'preprocessor__numerical__scaler__with_mean': True, 'preprocessor__numerical__scaler__with_std': True, 'preprocessor__categorical__memory': None, 'preprocessor__categorical__steps': [('onehot', OneHotEncoder(drop='first', handle_unknown='infrequent_if_exist',
              sparse_output=False))], 'preprocessor__categorical__verbose': False, 'preprocessor__categorical__onehot': OneHotEncoder(drop='first', handle_unknown='infrequent_if_exist',
              sparse_output=False), 'preprocessor__categorical__onehot__categories': 'auto', 'preprocessor__categorical__onehot__drop': 'first', 'preprocessor__categorical__onehot__dtype': <class 'numpy.float64'>, 'preprocessor__categorical__onehot__feature_name_combiner': 'concat', 'preprocessor__categorical__onehot__handle_unknown': 'infrequent_if_exist', 'preprocessor__categorical__onehot__max_categories': None, 'preprocessor__categorical__onehot__min_frequency': None, 'preprocessor__categorical__onehot__sparse': 'deprecated', 'preprocessor__categorical__onehot__sparse_output': False, 'regressor__objective': 'reg:squarederror', 'regressor__base_score': None, 'regressor__booster': None, 'regressor__callbacks': None, 'regressor__colsample_bylevel': None, 'regressor__colsample_bynode': None, 'regressor__colsample_bytree': None, 'regressor__device': None, 'regressor__early_stopping_rounds': None, 'regressor__enable_categorical': False, 'regressor__eval_metric': None, 'regressor__feature_types': None, 'regressor__gamma': None, 'regressor__grow_policy': None, 'regressor__importance_type': None, 'regressor__interaction_constraints': None, 'regressor__learning_rate': None, 'regressor__max_bin': None, 'regressor__max_cat_threshold': None, 'regressor__max_cat_to_onehot': None, 'regressor__max_delta_step': None, 'regressor__max_depth': None, 'regressor__max_leaves': None, 'regressor__min_child_weight': None, 'regressor__missing': nan, 'regressor__monotone_constraints': None, 'regressor__multi_strategy': None, 'regressor__n_estimators': None, 'regressor__n_jobs': None, 'regressor__num_parallel_tree': None, 'regressor__random_state': 0, 'regressor__reg_alpha': None, 'regressor__reg_lambda': None, 'regressor__sampling_method': None, 'regressor__scale_pos_weight': None, 'regressor__subsample': None, 'regressor__tree_method': None, 'regressor__validate_parameters': None, 'regressor__verbosity': None}

c:\Users\timmv\anaconda3\envs\ml2025\Lib\site-packages\sklearn\utils\extmath.py:1050: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
c:\Users\timmv\anaconda3\envs\ml2025\Lib\site-packages\sklearn\utils\extmath.py:1055: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
c:\Users\timmv\anaconda3\envs\ml2025\Lib\site-packages\sklearn\utils\extmath.py:1075: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count

Best parameters: {'regressor__learning_rate': 0.038279209810825325, 'regressor__max_depth': 4, 'regressor__n_estimators': 400}